.footer {
    background-color: $gray;

    &__heading {
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 1.5rem;

        img {
            height: 40px;
            margin-right: 5px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto auto;
    }

    &__container {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    &__box-text {
        margin-bottom: 1.2rem;
        color: $black;
        font-size: 2.2rem;
        font-weight: 700;
    }

    &__box-list-item {
        color: $black;
        margin-bottom: 1.5rem;

        a {
            color: $black;
        }
    }

    &__box-list {
        list-style-type: none;
    }

    &__end {
        border-top: 1px solid #707070;
    }

    &__end-text {
        text-align: center;
        padding: 2rem;
        font-size: 2rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .footer {

        &__heading {
            margin-bottom: 3.5rem;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .wrapper-small {
            width: 70%;
        }
    }
}

@media (min-width: 1200px) {
    .footer {
        &__heading {
            margin-bottom: 0;
        }

        &__wrapper {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            width: fit-content;
        }

        &__box:nth-of-type(2n) {
            margin: 0 8rem;
        }
    }
}